* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: gray;
}

#navBox {
	width: 1251px;
	height: 72px;
	background: #F7F4FF;
	padding: 12px 24px;
	margin: 0px 0px 142px 689px;
}

#logoBox {
	width: 177px;
	height: 48px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: baseline;
}

#imgLogo {
	padding: 13px;
	border: 1px solid black;
	width: 147px;
}

#spanBox {
	display: inline-block;
	border: 1px solid black;
	width: 349px;
	margin: 0px 278px 25px 278px;
	text-align: center;
	vertical-align: 15px;
}

#spanOne {
	border: 1px solid black;
	margin-right: 20px;
	font-size: 18px;
	color: #323232;
}

#spanTwo {
	border: 1px solid black;
	margin-right: 20px;
	font-size: 18px;
	color: #323232;
}

#spanThree {
	border: 1px solid black;
	margin-right: 20px;
	font-size: 18px;
	color: #8E26C0;
}

#spanFour {
	border: 1px solid black;
	font-size: 18px;
	color: #323232;
}

#buttonBox {
	display: inline-block;
	vertical-align: 15px;
	background: red;
	width: 107px;
}

#buttonOne {
	padding: 8px 16px;
	border-radius: 8px;
	border: 1px solid #8E26C0;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	color: #8E26C0;
	cursor: pointer;
}